.delete-info-container {
    margin-top: 20px;
}

.delete-info-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333; 
    margin-bottom: 5px;
}

.delete-info-text {
    font-size: 1rem;
    color: #3B0D73;
    margin-bottom: 40px;
}

.form-delete-initial {
    display: block; 
    width: 100%;
}

.btn-delete-confirm {
    background-color: #3B0D73; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-delete-confirm:hover {
    background-color: #7B68EE;
}
