.delete-info-container {
    margin-top: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.delete-info-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.delete-info-text {
    font-size: 1rem;
    color: #3B0D73;
    margin-bottom: 40px;
}

.form-delete-initial {
    display: block;
    width: 100%;
}

.btn-delete-confirm {
    background-color: #683CE7;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 999px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-delete-confirm:hover {
    background-color: #422599;
}