h1 {
    padding-left: 2px;
}

.btn {
    background-color: #683CE7;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 999px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #5331b8;
}

.campus-image {
    width: 100%; 
    height: 350px; 
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
