html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #fffaf2;
  height: 100vh;
  flex-direction: column;
}

.navbar {
  background-color: #3B0D73;
  color: white;
  /* height: 40px; */
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.logo-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.login-box {
  background-color: #ede1f7;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #999;
  padding-bottom: 0.5rem;
  color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  background-color: #f5edfa;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.checkbox input {
  margin-right: 0.5rem;
}

.login-box button {
  background-color: #6B3EFF;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.login-box button:hover {
  background-color: #582bca;
}

.login-box .links {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.login-box .links a {
  color: #3B0D73;
  text-decoration: none;
}

.login-box .links a:hover {
  text-decoration: underline;
}

.login-box .bottom {
  border-top: 1px solid #999;
  margin-top: 1.5rem;
  padding-top: 0.7rem;
  font-size: 0.9rem;
}

