.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}



.btn-submit {
    background-color: #8A2BE2; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #6A1B9A; 
}