html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #3B0D73;
  color: white;
  height: 40px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf2;
  color: #000000;
}

.navbar {
  background-color: #3B0D73;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.curso-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.curso-header .btn-favorito {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.curso-header .btn-favorito i {
  font-size: 24px;
  color: black;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 50px;
}

p {
  font-size: 1.1rem;
  line-height: 30px;
  max-width: 600px;
  color: #000000;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}

.btn {
  background-color: #3B0D73;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border-radius: 999px;
  text-decoration: none;
  margin-right: 1rem;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #582bca;
}

.btn-secondary {
  background-color: #683CE7;
}

.dropdown-item {
  justify-content: start !important;
  color: black !important;
  font-size: 14px !important;

}