@{
    ViewData["Title"] = "";
}

    <div class="container">
        <h1>UniVest: Onde tudo<br />sobre vestibulares<br /> acontece</h1>
        <p>
            Um site para organização de vestibulares tradicionais e seriados do Brasil, com datas, cursos, universidades
            e mais. Aqui você encontra todas as informações necessárias para se preparar e se inscrever nos principais
            vestibulares do país.
        </p>
        <div>
            <div>
                <a asp-controller="Account" asp-action="Login" class="btn">Login</a>
                <a asp-controller="Home" asp-action="Cursos" class="btn btn-secondary">Entrar sem Login</a>
            </div>
        </div>
    </div>
